body {
    color: white !important;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 1%;
    width: 70% !important;
    background-color: rgb(53, 53, 53);
}

.row {
    text-align: center;
    justify-content: center;
}


hr {
    color: aqua !important;
}

.card {
    background-color: rgb(166, 173, 173) !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-select {
    margin-bottom: 5%;
}

#monedaConvertida {
    margin-top: 5%;
    font-size: x-large;
    font-weight: bold;
}

.grafico{
    margin-top: 5%;
}